doctype html
body
  head
    title karteikarten
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no")
    
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css')

    link(rel="stylesheet", type="text/css", href="style/main.css" inline)

  body
    h1 karteikarten

    .progressbar.dpn
      .right.barPart
      .wrong.barPart

    .cardScreen
      .card
        .cardContentWrapper
          .cardContent
            .play
              .front.dpn
                span.q
                br
                br
                a.btn.btnSmall.checkBtn Check
              .back.dpn
                span.a
                br
                br
                a.btn.btnSmall.btnRight Richtig
                a.btn.btnSmall.btnWrong Falsch
            .allDone.dpn
              span Du hast alle karteikarten beantwortet
              br
              br
              a.btn.btnUnderline.btnAgainAll Nochmal mit allen Karten
              br
              br
              a.btn.btnUnderline.btnAgainWrong Nochmal mit den falschen Karten
            .selectData
              span Gib die URL(s) der Datenquelle(n) ein (ggf. durch , getrennt)
              input.jsonUrl
              br
              span oder wähle eine von unseren Datenquellen aus
              .select-wrapper
                select.dataSelect(name='dataSelect', multiple='multiple')
                  option(label='Actio - Stammformen - Alle Lektionen', value='https://gist.githubusercontent.com/BenBals/e63d3bece9043eaf00e9/raw/04e59206821d9edb4642c02517382ce7cece3d5e/alleLektionen.json') Actio - Stammformen - Alle Lektionen
                  option(label='Actio - Vokabeln - Lektion 23', value='https://gist.githubusercontent.com/BenBals/e63d3bece9043eaf00e9/raw/1428de6b120cdfe1e4c311ee7d049af299a1e13c/vok23.json') Actio - Vokabeln - Lektion 23
                  option(label='Actio - Vokabeln - Lektion 25', value='https://gist.githubusercontent.com/BenBals/e63d3bece9043eaf00e9/raw/b76d6127555dee73696d2eae524c0c51ec56f92b/vok25.json') Actio - Vokabeln - Lektion 25
                  option(label='Actio - Vokabeln - Lektion 26', value='https://gist.githubusercontent.com/BenBals/e63d3bece9043eaf00e9/raw/bf4ab85de5ba96b4df5c063b6dca52f3bc151688/vok26.json') Actio - Vokabeln - Lektion 26
                  option(label='Encuentros - Vokabeln - 5b', value='https://gist.githubusercontent.com/BenBals/3f4ec90beb7438f3a58d/raw/3332efc4161e049393b986094ca763a9cf5fcc30/vok5b.json') Encuentros - Vokabeln - 5b
                  option(label='Encuentros - Vokabeln - 5c', value='https://gist.githubusercontent.com/BenBals/3f4ec90beb7438f3a58d/raw/f324f12e8384b4920ba8ce86599aa0c50d969fb9/vok5c.json') Encuentros - Vokabeln - 5c

              a.btn.btnSmall.btnSubmitJson Los

    a.btnFlat.btnReset Home

    script(inline, src="script/main.js")