doctype html
body
  head
    title karteikarten
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=no")
    
    link(href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css")

    link(rel="stylesheet", type="text/css", href="style/main.min.css" inline)

  body
    h1 karteikarten

    .progressbar.dpn
      .right.barPart
      .wrong.barPart
      .unanswered.barPart

    .cardScreen
      .card
        .cardContentWrapper
          .cardContent
            .play
              .front.dpn
                span.q
                br
                br
                a.btn.btnSmall.checkBtn Check
              .back.dpn
                span.a
                br
                br
                a.btn.btnSmall.btnRight Richtig
                a.btn.btnSmall.btnWrong Falsch
            .allDone.dpn
              span Du hast alle karteikarten beantwortet
              br
              br
              a.btn.btnUnderline.btnAgainAll Nochmal mit allen Karten
              br
              br
              a.btn.btnUnderline.btnAgainWrong Nochmal mit den falschen Karten
            .selectData
              span Gib die URL(s) der Datenquelle(n) ein (ggf. durch , getrennt)
              input.jsonUrl
              br
              span oder wähle eine von unseren Datenquellen aus
              select.dataSelect(name='dataSelect', multiple='multiple')
                option(value='https://gist.githubusercontent.com/BenBals/e63d3bece9043eaf00e9/raw/04e59206821d9edb4642c02517382ce7cece3d5e/alleLektionen.json') Actio - Stammformen - Alle Lektionen
                option(value='https://gist.githubusercontent.com/BenBals/e63d3bece9043eaf00e9/raw/1428de6b120cdfe1e4c311ee7d049af299a1e13c/vok23.json') Actio - Vokabeln - Lektion 23
                option(value='https://gist.githubusercontent.com/BenBals/e63d3bece9043eaf00e9/raw/b76d6127555dee73696d2eae524c0c51ec56f92b/vok25.json') Actio - Vokabeln - Lektion 25
                option(value='https://gist.githubusercontent.com/BenBals/e63d3bece9043eaf00e9/raw/b0fc2740e3021570bb578ecd7df1bc60317ef1d5/vok26.json') Actio - Vokabeln - Lektion 26

                option(value='https://gist.githubusercontent.com/BenBals/3f4ec90beb7438f3a58d/raw/ea6d2d9d51899bc4687745d95dda2e4a87c39487/vok5b.json') Encuentros - Vokabeln - 5b
              br
              br
              a.btn.btnSmall.btnSubmitJson Los

    a.noAStyle.btnReset Home

    script(inline, src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(inline, src="script/main.js")